apiVersion: v1
kind: ConfigMap
metadata:
  name: analytics-service-config
  namespace: urlshortener
data:
  PORT: "3001"
  NODE_ENV: "production"
  MONGO_URI: "mongodb://mongodb:27017/analytics"
  GEOIP_DB_PATH: "/app/data/GeoLite2-City.mmdb"
