apiVersion: v1
kind: Service
metadata:
  name: analytics-service
  namespace: urlshortener
  labels:
    app: analytics-service
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: analytics-service
