apiVersion: v1
kind: Service
metadata:
  name: url-service
  namespace: urlshortener
  labels:
    app: url-service
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: url-service
